<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxh0a3q4AiAg9_Yw3MAD10a1t-X0wZiIY</string>
	<key>GCM_SENDER_ID</key>
	<string>757264159793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HHSApps.FordsWellness</string>
	<key>PROJECT_ID</key>
	<string>fordswellness-77af3</string>
	<key>STORAGE_BUCKET</key>
	<string>fordswellness-77af3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757264159793:ios:41d3447dfc69c884df7110</string>
</dict>
</plist>